<div class="container">
  <br /><br />
  <h1 class="header center cyan-text text-cyan darken-1">
    Keep learning, wherever you are!
  </h1>
  <div class="row center">
    <h5 class="header col s12 light">
      Explore online courses to continue studying, build professional skills,
      and connect with experts.
    </h5>
  </div>
  <div class="row center">
    <a href="/courses" id="download-button"
      class="btn-large waves-effect waves-light cyan darken-1">See our
      courses</a>
  </div>
</div>